Python_Light_Level_Sensor/Videos/*
Python_Light_Level_Sensor/Videos/.gitkeep

C++_Motion_Sensor/Output Videos/*
C++_Motion_Sensor/Output Videos/.gitkeep



# === Need to add appropriate Java files here as well as C++ program build stuff, will eventually purge this and rewrite commit history afterward === #